/target
files
.env
local.toml
import.toml
*dump
.sqlx

# Exclude workspace and local settings files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/libraries/
.idea/dbnavigator.xml

# Include useful project configuration and code styles
!.idea/modules.xml
!.idea/*.iml
!.idea/misc.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/


