<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
    {% include "header.html" %}
</head>

<body class="bg-gr">

<img src="/static/pr-portrait.png" alt="perry" class="po-f img-btm-r">

<div id="app">
    {% include "border.html" %}
    {% include "header-login.html" %}

    <section class="grid-center">
        <!-- SIDE CONTENT -->

        <div class="col-3 sm-hidden mt-10">
            <div>
                <div class="title-xs i c-off-white mb-15">
                    Total written summaries: {{summary_count}} ({{percentage}}%)
                </div>

                <form action = "/summaries" method="get">
                    <div>
                        <input type="submit" value="Show summary" class="fl-r btn-r"/>
                    </div>
                    <div style="overflow: hidden;">
                        <input type="text" class="fi-dk-l wd-100" placeholder="Enter issue #" name="number"/>
                    </div>
                </form>
            </div>

            <div>
                <div class="title-xs i c-off-white mt-4">Latest posted summaries</div>
                <table class="mt-15">
                    [[#recentSummaries]]
                    <tr>
                        <td>
                            <img width="60px" src="[[coverUrl]]" alt="cover image">
                        </td>
                        <td class="t-latest pl-1">
                            <div class="p-xs f-h c-off-white">[[prettyDate]]</div>
                            <div class="title-xs b c-yellow ls-04">
                                <span class="title-xs b ls-04 c-offwhite tc-n">
                                    <a href="/summaries/[[number]]" class="c-yellow">
                                        [[number]] [[englishTitle]]
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    [[/recentSummaries]]
                </table>
            </div>

            <!-- SC INFO -->
            <div class="c-off-white mt-3" style="bottom: 0">
                <div class="mb-05"><i class="fas fa-rss"></i><a href="https://feeds.feedburner.com/PerryRhodanSummaries" class="p c-off-white td-n ml-05">PerryRhodanSummaries</a></div>
                <div><i class="fab fa-twitter"></i><a href="https://twitter.com/PerryRhodanUS" class="p c-off-white td-n ml-05">PerryRhodanUS</a></div>
            </div>
        </div>

        <div class="col-1 md-hidden"></div>

        <!-- CYCLES -->

        <div class="col-6_sm-11 mt-8 mb-10">
            <table class="t-titles">
                [[#cycles]]
                <tr class="csr-p">
                    <td class="title-xs c-off-white i ta-r va-t">[[numberString]]</td>
                    <td class="pl-2 pb-1">
                        <a href="[[href]]" class="a-titles">
                            <div class="title-xs c-off-white i mb-015">[[start]]-[[end]]</div>
                            <div class="title c-yellow">[[englishTitle]]</div>
                            <div class="title-sm c-yellow">[[germanTitle]]</div>
                        </a>
                    </td>
                </tr>
                [[/cycles]]
            </table>
        </div>

    </section>

    <!-- FOOTER -->
    <p class="created-by c-off-white bg-gr">
        Created in Kotlin by <a class="c-off-white" href="mailto:cedric@beust.com">C&eacute;dric Beust</a>,
        design by M.
    </p>
</div>
</body>
</html>

