<!doctype html>
<!--suppress HtmlFormInputWithoutLabel -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta charset="utf-8">
    <title>Perry Rhodan • English Summaries</title>

    {% include "header.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(window).on("load", function() {
            $("[autofocus]").focus();
        });
    </script>

</head>

<body class="bg-gr-edit">

{% include "border.html" %}

<div id="app">
    <form action="/api/summaries" method="post" id="editSummaryForm">
        <input type="hidden" name="number" value="[[ book.number ]]">

        <div class="mt-25">
            <section class="grid-center col">

                <div class="col-3">
                    <div class="pl-4">
                        <div class="title-xs c-off-white i">cycle [[cycle.number]]</div>
                        <input class="min title-h-xs c-off-white mt-05" placeholder="Cycle Title" name="englishCycleName"
                               value="[[cycle.english_title]]"/>
                    </div>
                </div>

                <div class="col-6">
                    <div class="title-xs c-off-white i">heft [[book.number]]</div>
                    <input class="min title-h-xs c-off-white mt-05" placeholder="Book author" name="bookAuthor"
                           value="[[book.author]]"/>
                </div>

                <div class="col-3 pr-4">
                    <div class="title-xs c-off-white i">summarized on
                        <span id="date">[[summary.date]]</span> by
                    </div>
                    <div class="grid">
                        <div class="col-6">
                            <input class="min title-h-xs c-off-white mt-05"
                                   placeholder="Name"
                                   value="[[summary.author_name]]" name="authorName"/>
                        </div>
                        <div class="col-6">
                            <input class="min title-h-xs c-off-white mt-05"
                                   placeholder="Email address"
                                   value="[[summary.author_email]]" name="authorEmail"/>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <section class="grid-center col">

            <div class="col-6_lg-8_md-11">
                <input class="min title-xl c-yellow mt-2" value="[[summary.english_title]]" name="englishTitle"
                       placeholder="English title">
                <input class="min title-sm c-yellow mt-05" value="[[book.title]]" name="germanTitle"
                       placeholder="German title">

                <div class="mt-4 mb-10">
                    <div id="img-cover" class="ml--65 fl-l">
                        <img src="[[cover_url]]" alt="cover image" class="img-cover">
                    </div>
                    <div id="summaryText" class="p p-lg c-off-white lh-15 op-8" autofocus
                         contenteditable="true" placeholder="Start summarizing here...">
                        [[summary.summary|safe]]
                    </div>
                </div>
            </div>

        </section>

        <!-- FOOTER -->
        <section class="footer ft-summary-edit grid-center">
            <input type="button" value="Cancel" class="btn-sec mr-1" onclick="cancelSummary('{{cancelUrl}}')"/>
            <input type="submit" value="Submit summary" onclick="submitSummary()"/>
        </section>

    </form>
</div>
</body>
</html>

