
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-238215-5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-238215-5');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Perry Rhodan • English Summaries</title>
<meta name="description" content="Perry Rhodan English summaries">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,600|Roboto:300,400" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>

<script src="/static/js/common.js"></script>
